<header>
  <div class="container">
    <a href="#" class="logo">NotchUp</a>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/">Home</a>
        </li>
        <li>
          <a href="https://script.googleusercontent.com/macros/echo?user_content_key=eePzypvqOlril4YtdY2VDzt_wnR4aNbJcWU5mh_NzNd5UuSd7GdViH_YH97TrlDhxlAIUfE1EmGpjGW1ycfMXdn2ea_tkolTm5_BxDlH2jW0nuo2oDemN9CCS2h10ox_1xSncGQajx_ryfhECjZEnC09Nb0QZ6ca_LU0vmo6mSiQ7SyFG3CgdL9-1Vgcha-TAYaAGhh-9xNG-9rMNEZHQRElvdDletx0&lib=MlJcTt87ug5f_XmzO-tnIbN3yFe7Nfhi6" >Api Data</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- <app-home></app-home> -->
<div class="container">
  <router-outlet></router-outlet>
</div>

